body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
    padding: 20px;
}

.main-image {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-image h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

 .btn-login {
    margin: 0 auto;
    position: relative;
    padding: 10px 30px;
    border: 2px solid rgb(0, 0, 0);
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s; /* Para el efecto de hover */
}

.btn-login:hover {
    transform: scale(1.1); 
    background-color: lightslategrey;
}

a{
    text-decoration: none;
}

.product-section {
    margin-top: 0px;
}

.product-section h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.product-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 320px;
    text-align: left;
    padding: 15px;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.product-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 15px;
}

.product-card p {
    color: #777;
    font-size: 1rem;
    margin-top: 10px;
}

section {
    padding: 20px;
    margin: 20px 0;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
